*{
	padding: 0px;
	margin: 0px;
}
#a{
	position: fixed;
	top: 150px;
	left: 400px;
}
#b{
	position: fixed;
	top: 250px;
	left: 400px;

}
#c{
	position: fixed;
	top: 350px;
	left: 400px;
}
#ema{
	position: fixed;
	top: 450px;
	left: 400px;

}