*{
  padding: 0px;
  margin: 0px;
  
}
body{
  background-color: #b392ac;
}
#text{
  height: 100px;
  width: 100%;
  background-color: #c8b6ff;
  display: flex;
  position: fixed;
}
a{
  text-decoration: none;
  font-size: 35px;
  display: flex;
  justify-content: center;
  color: #ffcdb2;
  background-color: #1245678;
  position: fixed;
}
#main{
  height: 60px;
  width: 115px;
  position: relative;
  top: 30px;
  margin-left: 25px;
  border: 2px solid black;

}
#cv{
   height: 60px;
  width: 115px;
  position: relative;
  top: 25px;
  margin-left: 185px;
  border: 2px solid black;
}
#project{
   height: 60px;
  width: 115px;
  position: relative;
  top: 25px;
margin-left: 185px ;
border: 2px solid black;
}
#contact{
   height: 60px;
  width: 115px;
  position: relative;
  top: 25px;
  margin-left: 185px ;
  border: 2px solid black;
}

#temp{
  height: 100px;
  width: 100px;
}
#image{
  height: 400px;
  width: 400px;
  background-image: url("me.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50px;
  top: 110px;
  display: block;
}
#p1{
  height: 100px;
  width: 300px;
  display: block;
  position: absolute;
  font-size: 50px;
  top:100px;
  left: 450px;
  color:#ffffff;
}

h1{
  display: block;
  position: absolute;
  font-size: 100px;
  top:90px;
  left: 550px;
 
  color: #007f5f;
}
#p2
{
  height: 100px;
  width: 700px;
  display: block;
  position: absolute;
  font-size: 30px;
  top:320px;
  left: 450px;
  color: #ffffff;
}
#dw{
  position: fixed;
  bottom: 0px;
  margin-left: 500px;
}